<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Citizen Science</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/js/main.js" type=module defer></script>
    <script src="/static/js/form.js" type=module defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js" type=module defer></script>
  </head>
  <body>
    
    <div id="wrapper">

    <header>
      <nav>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#!/users">Users</a></li>
              <li><a href="#!/observations">Observations</a></li>
              <li><a href="#!/submit">Submit an observation</a></li>
          </ul>
      </nav>
    </header>

      <div id="heading">
          
          <hgroup>
              <h1>Citizen Science</h1>
              <h2>Understanding Our Trees</h2>
          </hgroup>
          <p>Although you may think that most Australian trees are Eucalypts, in fact there
            are a wide variety of species native to this continent. The goal of this project
            is to help understand the diversity of the population of trees and their
            distribution across Australia. Citizen Scientists can help by recording observations
            of trees via the website.
          </p>
          <figure>
            <img src="/static/images/tree.png" alt="A Tree">
            <figcaption>A Magnificent Tree 
              <span class="attribution">(Source: <a href="https://arbordayblog.org/landscapedesign/12-fast-growing-shade-trees/">Arbordayblog.org</a>)</span>
            </figcaption>
          </figure>

      </div>

      <div id="whatis">
        <h2>What is Citizen Science?</h2>

        <p>Citizen science involves public participation and collaboration 
        in scientific research with the aim to increase scientific knowledge. 
        It’s a great way to harness community skills and passion to fuel the 
        capacity of science to answer our questions about the world and how it 
        works. Have a look at our 
        <a href="https://citizenscience.org.au/10-principles-of-citizen-science/">10 
        Principles of Citizen Science</a> to find out more.</p>

        <p>To be involved in citizen science you don’t need a science degree. 
        Citizen scientists work with scientists or the scientific framework 
        to achieve scientific goals.</p>

        <p class="attribution">Text from <a href="https://citizenscience.org.au/who-we-are/">citizenscience.org.au</a></p>

    </div>

    <div id="submit-observation">
      <h2>Enter your observation</h2>
      
      <form id="observation-form" method="POST">

        <h3>General</h3>
        </br>

          <label for="participant_input">Participant</label>
          <input type="text" name="participant" id="participant_input" placeholder="e.g. 1">
          
          <label for="temperature_input">Temperature</label>
          <input type="number" name="temperature" id="temperature_input" placeholder="e.g. 25">

          <label for="weather_input">Weather</label>
          <select id="weather_input" name="weather">
            <option value="fine">Fine</option>
            <option value="raining">Raining</option>
            <option value="stormy">Stormy</option>
            <option value="sunny">Sunny</option>
          </select>

          <label for="wind_input">Wind</label>
          <select id="wind_input" name="wind">
            <option value="none">None</option>
            <option value="light">Light</option>
            <option value="medium">Medium</option>
            <option value="strong">Strong</option>
          </select>
          
          <label for="location_input">Location</label>
          <input type="text" name="location" id="location_input" placeholder="e.g. Epping">

      </br>
      <h3>About the tree</h3>
      </br>

          <label for="height_input">Tree Height</label>
          <input type="number" name="height" id="height_input" placeholder="e.g. 3">

          <label for="girth_input">Tree Girth at Base</label>
          <input type="number" name="girth" id="girth_input" placeholder="e.g. 4" step=".01">

          <label for="leaf_size_input">Leaf Size</label>
          <select id="leaf_size" name="leaf_size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>

          <label for="leaf_shape_input">Leaf Shape</label>
          <select id="leaf_shape" name="leaf_shape">
            <option value="rounded">Rounded</option>
            <option value="pointy">Pointy</option>
            <option value="divided">Divided</option>
            <option value="large">Large</option>
          </select>

          <label for="bark_colour_input">Bark Colour</label>
          <select id="bark_colour" name="bark_colour">
            <option value="silver">Silver</option>
            <option value="grey">Grey</option>
            <option value="red">Red</option>
            <option value="brown">Brown</option>
          </select>

          <label for="bark_texture_input">Bark Texture</label>
          <select id="bark_texture" name="bark_texture">
            <option value="smooth">Smooth</option>
            <option value="peeling">Peeling</option>
            <option value="furry">Furry</option>
            <option value="crinkles">Crinkles</option>
            <option value="spotty">Spotty</option>
          </select>
        
      </br>
        <div class="form-submit">
            <input type="submit" value="Submit">
        </div>
        
        </br>
        
        <div class="form-submit-error">
              <div id="submit-error">
              </div>
        </div>
        
      </form>
    </div>

    <div id="observations">
      <h2>Recent Observations</h2>
      <ol class="recent-observations-list" id="recent-observations-list">
      </ol>
    </div>

    <div id="observation">
      <h2>Observation</h2>
      <div id="observation-list">
      </div>
    </div>

    <div id="users">
      <h2>Users</h2>
      <ol id="users-list">
      </ol>
    </div>

    <div id="user">
      <div id="user-list">
      </div>
    </div>

    <div id="user-observations">
      <h2>User Observations</h2>
      <ol id="user-observations-list">
      </ol>
    </div>

    </div>

  <footer>

    <div id="social">
      <ul>
        <li id="social-twitter"><a href="#">Twitter</a></li>
        <li id="social-facebook"><a href="#">Facebook</a></li>
        <li id="social-instagram"><a href="#">Instagram</a></li>
      </ul>
    </div>

    <ul class="footer-tos">
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
    
    <p id="copyright">All content and images subject to copyright &copy; COMP2110 Citizen Science 2020.</p>
  </footer>
  
  </div>

  <!-- Templates -->

  <!-- View to display all users -->
  <script id="users-template" type="text/x-handlebars-template">
      {{#each users}}
        <li> <a href="/#!/users/{{id}}">{{first_name}} {{last_name}}</a></li>
      {{/each}}
  </script>

  <!-- View to display all observations -->
  <script id="observations-template" type="text/x-handlebars-template">
    {{#each observations}}
      <li> <a href="/#!/observations/{{id}}">{{location}} - {{weather}}</a></li>
    {{/each}}
  </script>

  <!-- View to display a user -->
  <script id="user-template" type="text/x-handlebars-template">
    <h2>User: {{first_name}} {{last_name}}</h2>
    <h3> Email: <a href="mailto:{{email}}">{{email}}</a> </h3>
    <img src="{{avatar}}" alt="avatar">
  </script>

  <!-- View to display an observation -->
  <script id="observation-template" type="text/x-handlebars-template">
      <p> Participant: <a href="/#!/users/{{participant}}">{{participant}}</a> </p>
      <p> Timestamp: {{timestamp}} </p>
      <p> Temperature: {{temperature}} degrees </p>
      <p> Weather: {{weather}} </p>
      <p> Wind: {{wind}} </p>
      <p> Location: {{location}} </p>
      <p> Height: {{height}} </p>
      <p> Girth: {{girth}} </p>
      <p> Leaf size: {{leaf_size}} </p>
      <p> Leaf shape: {{leaf_shape}} </p>
      <p> Bark colour: {{bark_colour}} </p>
      <p> Bark texture: {{bark_texture}} </p>
  </script>

  <!-- View to display obervations belonging to a user -->
  <script id="user-observations-template" type="text/x-handlebars-template">
    {{#each observations}}
      <li> <a href="/#!/observations/{{id}}">{{location}} - {{weather}}</a></li>
    {{/each}}
  </script>

  </body>
</html>
